agate
agate-dbf
agate-excel
agate-sql
alembic
atomicwrites
attrs
Babel
backcall
banal
beautifulsoup4
bleach>=3.1.4
branca
brewer2mpl
certifi
chardet
click
click-plugins
cligj
colorama
coverage
csvkit
cycler
Cython
dataset
dbfread
decorator
descartes
entrypoints
et-xmlfile
fastkml
filemagic
Fiona
folium
future
geographiclib
geopandas
geopy
ggplot
gitdb2
GitPython
graphviz
html5lib
idna
ipykernel
ipython
ipython-genutils
ipython-sql
ipythonblocks
ipywidgets
isodate
itables
jdcal
jedi
Jinja2
json-table-schema
jsonschema




jupyter-contrib-nbextensions

jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator

# Dashboard showing requirements - useful for self check of environment?
jupyter-nbrequirements

jupyter-server-proxy
jupyter-wysiwyg


kiwisolver

leather
lunr
lxml
Mako
MarkupSafe
matplotlib
messytables
mistune
more-itertools
mpld3
munch
nbconvert
nbdime
nbformat
nbgrader
nbresuse
nbval
networkx
nltk
normality

numexpr
numpy
git+https://github.com/innovationOUtside/nb_extension_odszip.git
openpyxl
pandas
pandasql
pandocfilters
parsedatetime
parso
patsy
pexpect
pgspecial
pickleshare
pluggy
prettytable
prompt-toolkit
psycopg2-binary
ptyprocess
py

pydot3
pygeoif
PyGithub
Pygments

PyJWT
pymongo
pyparsing
PyPDF2

pytest

python-dateutil

python-editor
python-magic
python-slugify

pytimeparse
pytz
PyYAML
pyzmq
qtconsole
rdflib
requests
rise
git+https://github.com/fschulze/sqlalchemy_schemadisplay.git
scikit-learn

seaborn
Send2Trash
Shapely 
simplegeneric
six
smmap2
SPARQLWrapper
SQLAlchemy
git+https://github.com/innovationOUtside/ipython_magic_sqlalchemy_schemadisplay.git
sqlparse
ssh-import-id
statsmodels
tables
tabulate
terminado
testpath
git+https://github.com/innovationOUtside/nb_workflow_tools.git
git+https://github.com/innovationOUtside/tm351_utils.git
tornado
tqdm
traitlets

Unidecode
urllib3
wcwidth
webencodings

git+https://github.com/innovationOUtside/nb_extension_wordexport.git
xlrd
