agate==1.6.1
agate-dbf==0.2.0
agate-excel==0.2.2
agate-sql==0.5.3
alembic==0.9.10
atomicwrites==1.1.5
attrs==18.1.0
Babel==2.6.0
backcall==0.1.0
banal==0.3.7
beautifulsoup4==4.6.0
bleach==2.1.3
branca==0.3.0
brewer2mpl==1.4.1
certifi==2018.4.16
chardet==3.0.4
click==6.7
click-plugins==1.0.3
cligj #==0.4.0
colorama==0.3.9
coverage==4.5.1
csvkit==1.0.3
cycler==0.10.0
Cython #==0.28.3
dataset==1.1.0
dbfread==2.0.7
decorator==4.3.0
descartes==1.1.0
entrypoints==0.2.3
et-xmlfile==1.0.1
fastkml==0.11
filemagic==1.6
Fiona #==1.7.12
folium #==0.10.0
future==0.16.0
geographiclib==1.49
geopandas==0.3.0
geopy==1.14.0
ggplot==0.11.5
gitdb2==2.0.3
GitPython==2.1.10
graphviz==0.8.4
html5lib==1.0.1
idna==2.7
ipykernel==4.8.2
ipython #==6.4.0
ipython-genutils==0.2.0
ipython-sql #==0.3.9
ipythonblocks==1.7.1
ipywidgets #==7.2.1
isodate==0.6.0
itables==0.2.1
jdcal==1.4
jedi==0.12.1
Jinja2 #==2.10
json-table-schema==0.2.1
jsonschema==2.6.0
#jupyter==1.0.0
#jupyter-client==5.2.3
#jupyter-console==5.2.0
#jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions #==0.5.0
#jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.4
jupyter-nbextensions-configurator #==0.4.0
jupyter-server-proxy
jupyter-wysiwyg==0.1.8
#jupyterlab==0.32.1
#jupyterlab-launcher==0.10.5
kiwisolver==1.0.1
#language-selector==0.1
leather==0.3.3
lunr==0.4.0
lxml==4.2.3
Mako==1.0.7
MarkupSafe==1.0
matplotlib #==2.2.2
messytables==0.15.2
mistune==0.8.3
more-itertools==4.2.0
mpld3==0.3
munch==2.3.2
nbconvert #==5.3.1
nbdime #==1.0.1
nbformat #==4.4.0
nbgrader #==0.5.4
nbresuse
nbval #==0.9.1
networkx==2.1
nltk #==3.3
normality==0.6.1
##notebook==5.5.0
numexpr #==2.6.5
numpy #==1.14.5
git+https://github.com/innovationOUtside/nb_extension_odszip.git ##odszip==0.0.1
openpyxl==2.5.4
pandas #==0.23.1
pandasql #==0.7.3
pandocfilters==1.4.2
parsedatetime==2.4
parso==0.3.0
patsy==0.5.0
pexpect==4.6.0
pgspecial==1.11.0
pickleshare==0.7.4
pluggy==0.6.0
prettytable==0.7.2
prompt-toolkit #==1.0.15
psycopg2-binary==2.7.5
ptyprocess==0.6.0
py==1.5.4
#pycurl==7.43.0
pydot3==1.0.9
pygeoif==0.7
PyGithub==1.40
Pygments==2.2.0
#pygobject==3.20.0
PyJWT==1.6.4
pymongo #==3.7.0
pyparsing==2.2.0
PyPDF2==1.26.0
#pyproj #==1.9.5.1
pytest==3.6.3
#python-apt==1.1.0b1+ubuntu0.16.4.1
python-dateutil==2.7.3
#python-debian==0.1.27
python-editor==1.0.3
python-magic==0.4.15
python-slugify==1.2.5
#python-systemd==231
pytimeparse==1.1.8
pytz==2018.5
PyYAML #==3.13
pyzmq==17.0.0
qtconsole==4.3.1
rdflib==4.2.2
requests #==2.19.1
rise #==5.3.0
git+https://github.com/fschulze/sqlalchemy_schemadisplay.git ##schemadisplay-magic==0.0.0
scikit-learn #==0.19.1
#scipy==1.1.0 #dependency of scikit-learn
seaborn==0.8.1
Send2Trash==1.5.0
Shapely ##==1.6.4.post1
simplegeneric==0.8.1
six==1.11.0
smmap2==2.0.3
SPARQLWrapper==1.8.2
SQLAlchemy #==1.2.9
git+https://github.com/innovationOUtside/ipython_magic_sqlalchemy_schemadisplay.git ##sqlalchemy-schemadisplay==1.4.dev0
sqlparse==0.2.4
ssh-import-id==5.5
statsmodels==0.9.0
tables #==3.4.4
tabulate==0.8.2
terminado #==0.8.1
testpath==0.3.1
git+https://github.com/innovationOUtside/nb_workflow_tools.git ##tm351-nb-utils==0.0.2
git+https://github.com/innovationOUtside/tm351_utils.git ##tm351-utils==0.0.3
tornado==5.0.2
tqdm==4.23.4
traitlets #==4.3.2
#ufw==0.35
Unidecode==1.0.22
urllib3 #==1.23
wcwidth==0.1.7
webencodings==0.5.1
##widgetsnbextension==3.2.1
git+https://github.com/innovationOUtside/nb_extension_wordexport.git ##wordexport==0.0.1
xlrd==1.1.0
